<mat-toolbar color="primary">
  <span>Angular Material Meets Neomorphism</span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Form">
    <mat-form-field>
      <input matInput placeholder="Some Input" value="Aaaalllrighty Then">
    </mat-form-field>

    <br/><br/>

    <div>
      <mat-radio-group>
        <mat-radio-button value="1" color="primary">Optionie uno</mat-radio-button><br/><br/>
        <mat-radio-button value="2" color="primary">Optionie dos equis</mat-radio-button>
      </mat-radio-group>
    </div>

    <br/><br/>

    <div>
      No Ripple<br/><br/>
      <mat-radio-group>
        <mat-radio-button value="1" [disableRipple]="true" color="primary">Optionie uno</mat-radio-button><br/><br/>
        <mat-radio-button value="2" [disableRipple]="true" color="primary">Optionie dos equis</mat-radio-button>
      </mat-radio-group>
    </div>

    <br/><br/><br/>

    <div>
      <mat-checkbox color="primary">Checkborx</mat-checkbox>
      <br/><br/><br/>
      No Ripple<br/><br/>
      <mat-checkbox color="primary" [disableRipple]="true">Checkborx</mat-checkbox>
    </div>

    <br/><br/><br/>

    <div>
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option>
            Gooooood
          </mat-option>
          <mat-option>
            Gooooood Anakin
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <br/><br/><br/>

    <div>
      <mat-slide-toggle color="primary">
        Holy stromboli
      </mat-slide-toggle>
      <br/><br/><br/>
      No Ripple<br/>
      <mat-slide-toggle [disableRipple]="true" color="primary">
        Holy stromboli batman
      </mat-slide-toggle>
    </div>
  </mat-tab>

  <mat-tab label="Basic Buttons">
    <div>
      <button mat-raised-button>No Color Attr</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <br/><br/>
    </div>
    <div>
      No ripple
      <button mat-raised-button [disableRipple]="true">No Color Attr</button>
      <button mat-raised-button color="primary" [disableRipple]="true">Primary</button>
      <button mat-raised-button color="accent" [disableRipple]="true">Accent</button>
      <button mat-raised-button color="warn" [disableRipple]="true">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <br/><br/>
    </div>
  </mat-tab>

</mat-tab-group>
