@import '../theme';

$color-neo: mat-color($primary, 50);
$border-width-button: 5px;
$transition-timing: 50ms;

@function theme($theme) {
  @return mat-color($theme, default);
}

@mixin neo-shadow($direction: out, $color-inset: null, $color-base: $color-neo) {
  @if ($direction == out) {
    @if ($color-inset) {
      box-shadow:
          -2px -2px 4px 1px lighten($color-base, 5%),
          2px 2px 4px 1px darken($color-base, 13%),
          1px 1px 2px darken($color-inset, 5%) inset,
          -1px -1px 1px lighten($color-inset, 3%) inset;
    }
    @else {
      box-shadow:
          -2px -2px 4px 1px lighten($color-neo, 5%),
          2px 2px 4px 1px darken($color-neo, 13%);
    }
  }
  @else {
    box-shadow:
      -1px -1px 2px lighten($color-neo, 7%) inset,
      1px 1px 4px darken($color-neo, 12%) inset;
  }
}

button.mat-raised-button:not([class*='mat-elevation-z']) {
  display: block;
  position: relative;
  cursor: pointer;
  background: lighten($color-neo, 1%);
  border-radius: 2em;
  margin: 1.5rem;
  animation: depress $transition-timing linear;
  @include neo-shadow();

  &[disabled] {
    animation: none;
    cursor: default;
  }

  &:active {
    &:not([disabled]) {
      @include neo-shadow();
      animation: press $transition-timing*2.5 linear;
      animation-fill-mode: forwards;

      &::before {
        opacity: 1;
        transition-delay: $transition-timing;
      }
    }

    > * {
      animation: none;
      transition: none;
    }
  }

  &[color="primary"],
  &[color="accent"],
  &[color="warn"] {
    border: 4px solid $color-neo;
    text-shadow: -0.5px -0.5px darken($color-neo, 20%);

    ::ng-deep > span {
      color: white;
    }
  }

  &[color="primary"] {
    background-color: theme($primary);
    @include neo-shadow(out, theme($primary));
  }

  &[color="accent"] {
    background-color: theme($accent);
    @include neo-shadow(out, theme($accent));
  }
  
  &[color="warn"] {
    background-color: theme($warn);
    @include neo-shadow(out, theme($warn));
  }

  &::before {
    opacity: 0;
    transition: opacity $transition-timing linear;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -$border-width-button;
    border-radius: inherit;
    @include neo-shadow(in);
  }
}

@keyframes press {
  0% {
    @include neo-shadow();
  }
  70% {
    box-shadow:
      0px 0px 2px lighten($color-neo, 50%),
      -1px -1px 2px darken($color-neo, 25%);
  }
	100% {
		box-shadow: none;
	}
}
@keyframes depress {
	0% {
		box-shadow: none;
	}
	100% {
		@include neo-shadow();
	}
}
