<mat-toolbar color="primary">
  <span>Angular Material Meets Neomorphism</span>
</mat-toolbar>


<mat-tab-group>
  <mat-tab label="Form">
    <mat-form-field>
      <input matInput placeholder="Some Input" value="Alrighty">
    </mat-form-field>

    <div>
      <mat-radio-group>
        <mat-radio-button value="1">Option 1</mat-radio-button>&nbsp;
        <mat-radio-button value="2">Option 2</mat-radio-button>
      </mat-radio-group>
      <br/><br/>
    </div>

    <div>
      <mat-checkbox>Checked</mat-checkbox>
    </div>
  </mat-tab>

  <mat-tab label="Basic Buttons">
    <div>
      <button mat-raised-button>No Color Attr</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
      <br/><br/>
    </div>
  </mat-tab>
  
</mat-tab-group>
