@import '../theme';

$color-neo: mat-color($primary, 50);
$color-neo-raised: lighten($color-neo, 1%);
$color-neo-lowered: darken($color-neo, 2%);
$border-width-button: 5px;
$border-radius: 2em;
$transition-timing: 50ms;

@function theme($theme) {
  @return mat-color($theme, default);
}

@mixin neo-shadow($direction: out, $color-inset: null, $color-base: $color-neo) {
  @if ($direction == out) {
    @if ($color-inset) {
      box-shadow:
          -2px -2px 4px 1px lighten($color-base, 5%),
          2px 2px 4px 1px darken($color-base, 13%),
          1px 1px 2px darken($color-inset, 5%) inset,
          -1px -1px 1px lighten($color-inset, 3%) inset;
    }
    @else {
      box-shadow:
          -2px -2px 4px 1px lighten($color-neo, 5%),
          2px 2px 4px 1px darken($color-neo, 13%);
    }
  }
  @else if ($direction == in) {
    box-shadow:
      1px 1px 4px darken($color-neo, 20%) inset,
      -1px -1px 3px 1px lighten($color-neo, 17%) inset;
  }
  @else if ($direction == in-focused) {
    box-shadow:
      0.5px 0.5px 1px darken($color-neo, 30%) inset,
      -1px -1px 2px lighten($color-neo, 20%) inset;
  }
}

// Button
button.mat-raised-button:not([class*='mat-elevation-z']) {
  display: block;
  position: relative;
  cursor: pointer;
  background: $color-neo-raised;
  border-radius: $border-radius;
  animation: button-depress $transition-timing linear;
  @include neo-shadow();

  &[disabled] {
    animation: none;
    cursor: default;
  }

  &:active {
    &:not([disabled]) {
      @include neo-shadow();
      animation: button-press $transition-timing linear;
      animation-fill-mode: forwards;

      &::before {
        opacity: 1;
        transition-delay: $transition-timing;
      }
    }
  }

  &[color="primary"],
  &[color="accent"],
  &[color="warn"] {
    border: 4px solid $color-neo;
    text-shadow: -0.5px -0.5px darken($color-neo, 20%);

    ::ng-deep > span {
      color: white;
    }
  }

  &[color="primary"] {
    background-color: theme($primary);
    @include neo-shadow(out, theme($primary));
  }

  &[color="accent"] {
    background-color: theme($accent);
    @include neo-shadow(out, theme($accent));
  }
  
  &[color="warn"] {
    background-color: theme($warn);
    @include neo-shadow(out, theme($warn));
  }

  &::before {
    opacity: 0;
    transition: opacity $transition-timing linear;
    content: '';
    position: absolute;
    z-index: -1;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -$border-width-button;
    border-radius: inherit;
    @include neo-shadow(in);
  }
}

// Text Input
::ng-deep .mat-form-field {
  & &-underline {
    opacity: 0;
  }

  & &-appearance-legacy &-label {
    padding-top: 0.56em;
    margin-left: 10px;
    animation: label-move-blur $transition-timing*5 ease-out;
  }

  & &-appearance-legacy &-infix {
    padding-bottom: 0; // Padding is added to the input for the neo shadow
  }

  & &-should-float {
    .mat-form-field-label-wrapper {
      top: -1em;
    }
  }

  & &.mat-focused {
    input {
      background-color: lighten($color-neo-lowered, 1%);
      border-radius: $border-radius/3;
      @include neo-shadow(in-focused);
    }

    .mat-form-field-label {
      animation: label-move-focus $transition-timing*5 ease-in $transition-timing;
      animation-fill-mode: forwards;
    }
  }
}
input {
  background-color: $color-neo-lowered;
  padding: 10px;
  border-radius: $border-radius;
  transition: all $transition-timing*4 ease-out;
  @include neo-shadow(in);
}

// Radio
::ng-deep .mat-radio {

  & &-container {
    border-radius: 100%;
    padding: 1em;
    @include neo-shadow();

    .mat-radio-outer-circle,
    .mat-radio-inner-circle {
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -10px;
    }

    .mat-radio-outer-circle {
      transform: matrix(0.75, 0, 0, 0.75, 0, 0);
    }
  }

  & &-checked {
    .mat-radio-container {
      background-color: $color-neo-lowered;
      @include neo-shadow(in);
    }
  }
}

// Checkbox
::ng-deep .mat-checkbox {
  $checkbox-size-adjustment: 8px;

  & &-inner-container {
    padding: $checkbox-size-adjustment;
    @include neo-shadow();
  }

  & &-frame {
    margin: $checkbox-size-adjustment;
  }

  & &-background {
    padding: $checkbox-size-adjustment;
    margin: $checkbox-size-adjustment;
  }

  & &-layout {
    align-items: center;
  }
}

// Animations
@keyframes button-press {
  0% {
    @include neo-shadow();
  }
  70% {
    box-shadow:
      0px 0px 2px lighten($color-neo, 30%),
      -1px -1px 2px darken($color-neo, 30%);
  }
	100% {
		box-shadow: none;
	}
}
@keyframes button-depress {
	0% {
		box-shadow: none;
	}
	100% {
		@include neo-shadow();
	}
}
@keyframes label-move-blur {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 10px;
  }
}
@keyframes label-move-focus {
   100% {
     margin-left: 0;
   }
}


// DO NOT COPY OVER
::ng-deep .mat-tab-body { margin: 0; }
::ng-deep .mat-tab-body-content { padding: 0.75rem; }
button { margin: 0.5em; }
