<mat-toolbar color="primary">
  <span>Angular Material Meets Neomorphism</span>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="Form">
    <mat-form-field>
      <input matInput placeholder="Some Input" value="Aaaalllrighty Then">
    </mat-form-field>

    <br/><br/>

    <div>
      <mat-radio-group>
        <mat-radio-button value="1">Optionie uno</mat-radio-button><br/><br/>
        <mat-radio-button value="2">Optionie dos equis</mat-radio-button>
      </mat-radio-group>
    </div>

    <br/><br/>

    <div>
      No Ripple<br/><br/>
      <mat-radio-group>
        <mat-radio-button value="1" [disableRipple]="true">Optionie uno</mat-radio-button><br/><br/>
        <mat-radio-button value="2" [disableRipple]="true">Optionie dos equis</mat-radio-button>
      </mat-radio-group>
    </div>

    <br/><br/>

    <div>
      <mat-checkbox>Checkborx</mat-checkbox>
    </div>
  </mat-tab>

  <mat-tab label="Basic Buttons">
    <div>
      <button mat-raised-button>No Color Attr</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <br/><br/>
    </div>
    <div>
      No ripple
      <button mat-raised-button [disableRipple]="true">No Color Attr</button>
      <button mat-raised-button color="primary" [disableRipple]="true">Primary</button>
      <button mat-raised-button color="accent" [disableRipple]="true">Accent</button>
      <button mat-raised-button color="warn" [disableRipple]="true">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <br/><br/>
    </div>
  </mat-tab>

</mat-tab-group>
