$mat-dow-slate-grey: (
  50: #e9eef5,
  100: #cbd6df,
  200: #acb9c7,
  300: #8c9eaf,
  400: #75899d,
  500: #5d758b,
  600: #51667a,
  700: #415364,
  800: #32404f,
  900: #212c37,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

// default is 100
$mat-dow-tan: (
  50: #eae8dd,
  100: #cdc5b5,
  200: #a79e8a,
  300: #83795f,
  400: #695f40,
  500: #4f4521,
  600: #473d1c,
  700: #3a3114,
  800: #2f240a,
  900: #241700,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

/*500 is primary*/
$mat-dow-sage: (
  50: #c8d2d1,
  100: #bac7c5,
  200: #acbbb9,
  300: #9eb0ad,
  400: #90a4a1,
  // min for AAA object with slate grey primary
    500: #829995,
  600: #748e89,
  700: #68807c,
  800: #5d726e,
  900: #516460,
  A100: #d6dedc,
  A200: #e4e9e8,
  A400: #f2f5f4,
  A700: #465653,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

//700 is primary
$mat-dow-gold: (
  50: #fffce5,
  100: #fff8c0,
  200: #fff396,
  300: #ffee6b,
  400: #ffe946,
  500: #fde318,
  600: #ffd31a,
  700: #febb12,
  800: #fda209,
  900: #fa7700,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
  ),
);

//900 is primary
$mat-dow-blue: (
  50: #e3eff3,
  100: #bbd8e3,
  200: #94c0d1,
  300: #72a7bf,
  400: #5a96b4,
  500: #4587aa,
  600: #3a7a9f,
  700: #2e6a8e,
  800: #265a7d,
  900: #193f5e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

//300 is primary
$mat-dow-teal: (
  50: #dcf1f1,
  100: #a8ddda,
  200: #6ac8c2,
  300: #00b2a9,
  400: #00a196,
  500: #009083,
  600: #008476,
  700: #007466,
  800: #006456,
  900: #004839,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);